################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContactApp
/bin/Debug/net5.0
/obj/Debug/net5.0
